a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;

}
#inp1{
    background-color: blueviolet;
}
#p1{
    color: rgb(42, 165, 165);
    font-weight: bold;
}
#p2{
    color: rgb(248, 145, 10);
font-weight: bold;

}
#p3{
    background-color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.grp1{
    text-align: justify;
    background-color: rgba(34, 126, 69, 0.568);
    border: 2px solid rgba(102, 51, 153, 0.534);
    margin: 5% 30% 20% 2%;
    padding: 10px 30px 10px 50px;
}